.calendar
 {
    width: 100%;
    height: calc(100vh - 128px);
}

.calendar td {
    padding : 10px;
border :1px solid #CCC;
width: 14,29%
height : 20%;
}


.calendar__table--6weeks td {
    height: 16,66%;

}


.calendar_week{
    font-weight : bold;
    color: #000.
    font-size: 1,2em;

}


.calendar_day{
    font-size : 1.5em;
}

.calendar_othermonth .calendar_day{
    opacity :0.3;

}
